<h1>Pirate!</h1>
<h3>Pirate Name: <%= @pirate.name %></h3>
<h3>Pirate Height: <%= @pirate.height %></h3>
<h3>Pirate Weight: <%= @pirate.weight %></h3>


<h2>First Ship</h2>
<h3>Ship Name: <%= @ship1.name %></h3>
<h3>Ship Type: <%= @ship1.type %></h3>
<h3>Ship Booty: <%= @ship1.booty %></h3>

<h2>Second Ship</h2>
<h3>Ship Name: <%= @ship2.name %></h3>
<h3>Ship Type: <%= @ship2.type %></h3>
<h3>Ship Booty: <%= @ship2.booty %></h3>